<%= form_tag '/session', class: 'form-horizontal' do %>
  <fieldset>

    <input class="input-large col-xs-12" name="username" id="username" type="text" placeholder="type username"/>

    <input class="input-large col-xs-12" name="password" id="password" type="password" placeholder="type password"/>

    <div class="clearfix"></div>

    <!--label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label-->

    <div class="clearfix"></div>

    <button type="submit" class="btn btn-primary col-xs-12">Login</button>
  </fieldset>
<% end %>
