<h2><%= raw t('login.reset_password_message') %></h2>
<%= form_tag '/password_reset', class: 'form-horizontal' do %>
  <fieldset>

    <input class="input-large col-xs-12" name="email" id="email" type="text" placeholder="<%= I18n.t('login.email') %>"/>

    <div class="clearfix"></div>

    <button type="submit" class="btn btn-primary col-xs-12"><%= I18n.t('links.password_reset') %></button>
  </fieldset>
<% end %>
