<p>Olá, <%= @user.name %><br />
<p>Uma chave pública foi removida de sua conta</p>
<br />
<p>Nome: <%= @key.name %></p>
<br />
<p>Caso não tenha sido você quem removeu essa chave,<br />
Entre em contato com a Secretaria Acadêmica imediatamente</p>
