<p>Olá, <%= @user.name %><br />
<p>Uma nova chave pública foi adicionada a sua conta</p>
<br />
<p>Nome: <%= @key.name %></p>
<br />
<p>Caso não tenha sido você quem adicionou essa chave,<br />
Entre em contato com a Secretaria Acadêmica imediatamente</p>
